---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const description =
	"Looking for a web design and development agency in Toronto? League Software Inc. specializes in handcrafted websites that focus on SEO and performance. Let us help you enhance your online presence with our tailored digital solutions for small businesses.";
---

<Layout title="League Software Inc." description={description}>
	<main>
		<section
			title="League Software Inc."
			class="p-5 mt-16 lg:mt-12 justify-center flex-wrap-reverse flex flex-row"
		>
			<article
				class="p-10 lg:p-20 justify-center flex flex-col gap-10 w-full sm:w-4/6 md:w-5/6 xl:w-3/6 text-center lg:text-start text-dark"
			>
				<article class="flex flex-col gap-4">
					<h1 class="text-3xl lg:text-5xl font-black">
						Small Business Web Design & Development
					</h1>
					<p>
						Based in Toronto, we cater to small businesses, creating handcrafted
						websites that focus on SEO and performance.
					</p>
				</article>
				<a class="text-xl underline decoration-sky-500" href="/contact"
					>Get In Touch</a
				>
			</article>
			<img
				class="w-full md:max-w-lg"
				src="/hero-illustration.svg"
				alt="Agency employees planning a project"
			/>
		</section>
	</main>
</Layout>
