---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const description =
	"Looking for a web design and development agency in Toronto? League Software Inc. specializes in handcrafted websites that focus on SEO and performance. Let us help you enhance your online presence with our tailored digital solutions for small businesses.";
---

<Layout title="League Software Inc." description={description}>
	<main class="px-2 md:p-5">
		<section
			title="League Software Inc."
			class="my-16 lg:my-30 xl:my-40 justify-center flex-wrap-reverse flex flex-row"
		>
			<article
				class="my-10 lg:my-2 lg:p-20 justify-center flex flex-col gap-10 w-full sm:w-4/6 md:w-5/6 xl:w-3/6 text-center lg:text-start text-dark"
			>
				<article class="flex flex-col gap-4">
					<h1 class="text-3xl lg:text-5xl font-black">
						Small Business Web Design & Development
					</h1>
					<p>
						Based in Toronto, we cater to small businesses, creating handcrafted
						websites that focus on SEO and performance.
					</p>
				</article>
				<a
					class="text-2xl decoration-4 text-dark font-bold underline decoration-dark"
					href="#contact">Contact Us</a
				>
			</article>
			<img
				width="400"
				height="400"
				class="w-full md:max-w-lg"
				src="/hero-illustration.svg"
				alt="Agency employees planning a project"
			/>
		</section>
		<section
			id="services"
			title="What we do to serve you"
			class="flex md:px-2 text-dark w-full flex-col text-center max-w-5xl mx-auto"
		>
			<article class="flex flex-col gap-2">
				<h2 class="font-extrabold text-3xl lg:text-4xl">What We Do</h2>
				<p class="w-3/4 xl:w-2/6 mx-auto">
					We tackle your web design and development challenges so you can get
					more business.
				</p>
			</article>
			<article
				class="my-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 md:text-left mx-auto"
			>
				<Card
					alt="Web Development"
					svgPath="/html.svg"
					title="Web Development"
					description="We make attractive, easy-to-use websites that help your business grow. We aim to make your website a favorite place for your customers."
				/>
				<Card
					alt="Fully Responsive"
					svgPath="/computer.svg"
					title="Fully Responsive"
					description="Our team creates beautiful, user-friendly designs that engage visitors. We make sure your website looks great everywhere from mobile to desktop screens."
				/>
				<Card
					alt="On Page SEO"
					svgPath="/seo.svg"
					title="On Page SEO"
					description="We boost your website's visibility on search engines. By improving your site's titles, content, and navigation, we make it easier for people to find you."
				/>
				<Card
					alt="Handwritten Code"
					svgPath="/fingerprint.svg"
					title="Handwritten Code"
					description="Clean code and proper website semantics are prioritized to ensure that your site’s content is search friendly and easily discoverable by your target audience."
				/>
				<Card
					alt="Accessible"
					svgPath="/accessibility.svg"
					title="Accessible"
					description="We deliver robust experiences that account for persons with disabilities, ensuring that your content is accessible to all."
				/>
				<Card
					alt="Performant"
					svgPath="/clock.svg"
					title="Performant"
					description="We prioritize optimizing website performance to help you provide a successful online experience and increase your customer base."
				/>
			</article>
		</section>
		<section
			class="flex md:px-2 text-dark w-full flex-col text-center max-w-5xl mx-auto"
		>
			<article>
				<h2 class="font-extrabold text-3xl lg:text-4xl">Pricing</h2>
			</article>
			<div class="flex flex-col lg:flex-row gap-5 py-8 md:p-10">
				<img
					height="400"
					width="400"
					class="hidden lg:block p-10 lg:w-3/6 object-contain"
					src="/onboarding.svg"
					alt="user onboarding to their website"
				/>
				<div
					class="lg:w-3/6 flex flex-col gap-10 justify-between text-start py-14 px-10 md:px-20 bg-white border-dark border-2 rounded-lg shadow-lg"
				>
					<div class="flex flex-col gap-8">
						<div>
							<h3 class="font-bold text-2xl lg:text-4xl">$150 / month</h3>
							<p class="pt-2 font-medium">12 month minimum contract</p>
						</div>
						<ul class="flex flex-col gap-4">
							<li class="flex flex-row gap-2 items-center">
								<img
									alt="unlimited revisions guarantee"
									class="w-4 h-4"
									height="20"
									width="20"
									src="/check.svg"
								/>
								<p>Unlimited Revisions</p>
							</li>
							<li class="flex flex-row gap-2 items-center">
								<img
									alt="includes hosting guarantee"
									class="w-4 h-4"
									height="20"
									width="20"
									src="/check.svg"
								/>
								<p>Includes Hosting</p>
							</li>
							<li class="flex flex-row gap-2 items-center">
								<img
									alt="lifetime updates guarantee"
									class="w-4 h-4"
									height="20"
									width="20"
									src="/check.svg"
								/>
								<p>Lifetime Updates</p>
							</li>
							<li class="flex flex-row gap-2 items-center">
								<img
									alt="5 pages guarantee"
									class="w-4 h-4"
									height="20"
									width="20"
									src="/check.svg"
								/>
								<p>5 Pages</p>
							</li>
							<li class="flex flex-row gap-2 items-center">
								<img
									alt="95+ Google Page Speed Score guarantee"
									class="w-4 h-4"
									height="20"
									width="20"
									src="/check.svg"
								/>
								<p>95+ Google Page Speed Score</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section
			id="contact"
			class="flex flex-col justify-center lg:flex-row bg-dark py-8 gap-14 md:px-12 lg:py-20 lg:px-20 xl:px-32 2xl:px-40"
			title="contact us"
		>
			<div
				class="flex text-center lg:text-start flex-col text-white justify-center gap-6 min-w-[50%]"
			>
				<h3 class="font-bold text-3xl lg:text-5xl">Ready to get started?</h3>
				<p>Don't hesitate to get in touch with us through our contact form.</p>
			</div>
			<div
				class="min-w-[50%] flex flex-col gap-5 lg:gap-10 mx-2 p-6 py-10 bg-white rounded-lg"
			>
				<h3
					class="text-2xl md:text-3xl text-center lg:text-start lg:text-4xl font-bold"
				>
				</h3>
				<form
					action="https://api.web3forms.com/submit"
					class="flex flex-col gap-3 lg:gap-5"
					method="POST"
				>
					<input
						type="hidden"
						name="access_key"
						value="378b9ad2-6e72-4884-8e5e-c14df3db2654"
					/>
					<div>
						<label for="name">Name</label>
						<input
							class="w-full border-2 border-gray-500 rounded-md p-2"
							type="text"
							name="name"
							id="name"
						/>
					</div>
					<div>
						<label for="email">Email</label>
						<input
							class="w-full border-2 border-gray-500 rounded-md p-2"
							type="text"
							name="email"
							id="email"
						/>
					</div>
					<div>
						<label for="phone">Phone</label>
						<input
							class="w-full border-2 border-gray-500 rounded-md p-2"
							type="text"
							name="phone"
							id="phone"
						/>
					</div>
					<div>
						<label for="message">Message</label>
						<textarea
							class="w-full border-2 border-gray-500 rounded-md p-2"
							name="message"
							id="message"></textarea>
					</div>
					<div>
						<button
							type="submit"
							class="w-full lg:w-fit py-3 px-8 bg-dark text-white"
							>Send Message</button
						>
					</div>
				</form>
			</div>
		</section>
	</main>
</Layout>
