<footer class="flex flex-col items-center" title="league software inc footer">
  <img
    height="50"
    width="50"
    src="league-logo.svg"
    alt="League Software inc. Footer Logo"
  />
  <h3 class="text-xl font-extrabold">League Software Inc.</h3>
  <a href="tel:+6475713515" class="underline decoration-2 decoration-indigo-500"
    >(647) 571-3515</a
  >
  <a
    href="mailto:leaguesoftwareinc@gmail.com"
    class="underline decoration-2 decoration-indigo-500 my-8"
    >leaguesoftwareinc@gmail.com</a
  >
  <ul
    class="flex text-center lg:text-start font-medium flex-col lg:flex-row gap-6 lg:gap-10"
  >
    <li>
      <a href="/home">Home</a>
    </li>
    <!-- <li>
      <a href="/about">About</a>
    </li> -->
    <li>
      <a href="#services">Services</a>
    </li>
    <!-- <li>
      <a href="/portfolio">Portfolio</a>
    </li> -->
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
  <p class="py-5 text-sm text-center text-gray-600">
    Copyright © 2023. League Software Inc. All Rights Reserved.
  </p>
</footer>
